//  Centrar con flex
@mixin center-flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

//  Transiciones suaves
@mixin smooth-transition($time: 0.45s, $type: cubic-bezier(0.65, 0, 0.076, 1)) {
  transition: all $time $type;
}

// Reset de links
@mixin link-reset($color: aliceblue) {
  text-decoration: none;
  color: $color;
}

//  Botón base
@mixin button-base {
  font-size: inherit;
  font-family: inherit;
  cursor: pointer;
  position: relative;
  display: inline-block;
}

//  Círculo animado del botón
@mixin button-circle($size: 3rem, $bg: #282936) {
  width: $size;
  height: $size;
  background: $bg;
  border-radius: 1.625rem;
  margin: 0;
  display: block;
  position: relative;
}

//  Texto del botón
@mixin button-text($color: #282936) {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 0.75rem 0;
  margin: 0 0 0 1.85rem;
  color: $color;
  font-weight: 700;
  line-height: 1.6;
  text-align: center;
  text-transform: uppercase;
}
